/* Import Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Custom styles */
body {
  background-color: #f8f9fa;
}

.navbar {
  margin-bottom: 2rem;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.max-w-10 {
  max-width: 25%;
  background-color: hsl(210, 17%, 94%);
  border-radius: 1rem;
  padding: 2rem;
}
